<nav
  class="bg-gray-800 rounded-md px-4 py-2 mx-auto mt-2 max-w-fit z-50 text-sm"
>
  <div class="flex items-center gap-6">
    <a routerLink="/" class="flex items-center gap-1" tabindex="-1">
      <img src="/assets/nav.svg" alt="logo" class="w-7 h-7" />
    </a>

    <a
      routerLink="/"
      draggable="false"
      class="text-white hover:text-app_green transition"
      tabindex="-1"
    >
      <i class="fas fa-house text-xs mr-0.5"></i> home
    </a>

    <div class="relative">
      <button
        #dropdownBtn
        type="button"
        (click)="toggleDropdown()"
        class="flex items-center gap-1 bg-transparent border-0 p-0 m-0 text-white hover:text-app_green cursor-pointer"
        tabindex="-1"
      >
        <i
          class="fas mt-0.5 fa-play text-xs mr-0.5 transition-transform duration-200 ease-in-out"
          [class.rotate-90]="isDropdownOpen"
        ></i>
        play
      </button>
      @if (isDropdownOpen) {
      <div
        #dropdownMenu
        @dropdownAnim
        class="absolute left-0 top-full w-32 bg-gray-800 rounded-b-md overflow-hidden transition z-50"
      >
        <div class="pt-[12px]">
          <a
            routerLink="/type/practice"
            draggable="false"
            (click)="closeDropdown()"
            class="px-4 py-2 text-white hover:bg-gray-700 flex items-center gap-0.5"
            tabindex="-1"
          >
            <i class="fas fa-user text-xs w-4 h-4 ml-0.5"></i>
            practice
          </a>
          <a
            routerLink="/type/room"
            draggable="false"
            (click)="closeDropdown()"
            class="px-4 py-2 text-white hover:bg-gray-700 flex items-center gap-1"
            tabindex="-1"
          >
            <i class="fas fa-user-friends text-xs w-4 h-4"></i>
            multiplayer
          </a>
        </div>
      </div>
      }
    </div>

    <a
      routerLink="/profile"
      draggable="false"
      class="text-white hover:text-app_green transition"
      tabindex="-1"
    >
      <i class="fas fa-circle-user text-xs mr-0.5"></i> profile
    </a>

    <a
      routerLink="/donate"
      draggable="false"
      class="text-white hover:text-app_green transition"
      tabindex="-1"
    >
      <i class="fas fa-circle-dollar-to-slot text-xs mr-0.5"></i> donate
    </a>
  </div>
</nav>
