@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

html {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #1b1823;
  min-height: calc(100vh - 8px);
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
