<div class="p-col-12 p-md-6 p-lg-4 p-col-align-center">
  <h1 class="ml-5 text-blue-500">Multiplayer</h1>

  <form
    #roomForm="ngForm"
    (ngSubmit)="joinRoom(inputRoomId.value)"
    class="ml-4 space-y-3"
  >
    <input
      [(ngModel)]="username"
      placeholder="username"
      class="block focus:outline-none border-none pl-4 py-2 mt-4 rounded-md"
      name="username"
      autocomplete="off"
      required
    />

    <input
      #inputRoomId="ngModel"
      placeholder="room ID"
      class="block focus:outline-none border-none pl-4 py-2 mt-4 rounded-md"
      name="roomId"
      autocomplete="off"
      ngModel
      required
    />

    <button
      type="submit"
      class="border-none font-semibold leading-3 px-3 py-2 rounded-md transition-all duration-100 ease-in-out"
      [ngClass]="{
        'text-black bg-blue-500 hover:bg-blue-600 cursor-pointer':
          !roomForm.invalid,
        'bg-gray-400 text-gray-600 cursor-not-allowed': roomForm.invalid,
      }"
      [disabled]="roomForm.invalid"
    >
      Join
    </button>
  </form>
</div>
<svg
  width="84"
  height="84"
  viewBox="0 0 84 84"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M49 8.75V24.5C49 31.0997 49 34.3995 51.0503 36.4497C53.1006 38.5 56.4004 38.5 63 38.5"
    stroke="#34D399"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M75.25 52.5H52.5M52.5 52.5H35M52.5 52.5V75.25"
    stroke="#34D399"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.75 35H17.5C24.0997 35 27.3995 35 29.4497 32.9497C31.5 30.8995 31.5 27.5997 31.5 21"
    stroke="#34D399"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.75 52.5H21"
    stroke="#34D399"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.75 42C8.75 26.3258 8.75 18.4887 13.6193 13.6193C18.4887 8.75 26.3258 8.75 42 8.75C57.6741 8.75 65.5113 8.75 70.3808 13.6193C75.25 18.4887 75.25 26.3258 75.25 42C75.25 57.6741 75.25 65.5113 70.3808 70.3808C65.5113 75.25 57.6741 75.25 42 75.25C26.3258 75.25 18.4887 75.25 13.6193 70.3808C8.75 65.5113 8.75 57.6741 8.75 42Z"
    stroke="#34D399"
    stroke-width="1.8"
    stroke-linejoin="round"
  />
</svg>
