<div class="mx-4">
  <app-race-animation
    [wordProgress]="getWordProgress()"
    [roomUsers]="roomUsers"
  ></app-race-animation>
  <p class="text-xl m-3 font-bold text-green-500" *ngIf="countdownDuration > 0">
    Starting in {{ countdownDuration }}
  </p>
  <span *ngFor="let word of words; let i = index" class="select-none">
    <span
      [ngClass]="{
        'text-green-600 underline': i === currentIndex,
        'text-red-600':
          i === currentIndex &&
          userInput &&
          userInput !== words[currentIndex].slice(0, userInput.length)
      }"
    >
      {{ word }}</span
    >
    {{ i < words.length - 1 ? " " : "" }}
  </span>
  <input
    *ngIf="!waitingMode"
    type="text"
    autocomplete="off"
    #textInput
    [(ngModel)]="userInput"
    (input)="onInputChange()"
    (keydown.space)="onSpaceKey($event)"
    (paste)="handlePaste($event)"
    (drop)="handleDrop($event)"
    class="border-2 pl-1 solid border-green-500 mt-2"
    [ngClass]="{
      'bg-rose-200 text-gray-600':
        currentIndex <= words.length - 1 &&
        userInput &&
        userInput !== words[currentIndex].slice(0, userInput.length),
      'pointer-events-none opacity-50': countdownDuration > 0 || waitingMode
    }"
    [disabled]="countdownDuration > 0 || waitingMode"
    placeholder="{{
      countdownDuration > 0 || waitingMode ? 'Type the text here...' : ''
    }}"
  />

  <div class="text-green-600 font-bold mt-2">
    <p *ngIf="!endTime && !waitingMode">{{ realTimeWpm || 0 }} wpm</p>
    <p *ngIf="endTime">net: {{ netWpm }} wpm</p>
    <p *ngIf="endTime">gross/raw: {{ grossWpm }} wpm</p>
    <p *ngIf="endTime">accuracy: {{ totalAccuracy.toFixed(1) }} %</p>
    <p *ngIf="endTime">time: {{ formatElapsedTime(totalElapsedTime) }}</p>
    <p *ngIf="endTime">errors: {{ errors }}</p>
  </div>
</div>
