<div class="typing-container">
  <span *ngFor="let word of words; let i = index">
    <span
      [ngClass]="{
        'correct-word': i === currentIndex,
        'error-word':
          i === currentIndex &&
          userInput &&
          userInput !== words[currentIndex].slice(0, userInput.length)
      }"
      >{{ word }}</span
    >
    {{ i < words.length - 1 ? " " : "" }}
  </span>
  <input
    type="text"
    [(ngModel)]="userInput"
    (input)="onInputChange()"
    [ngClass]="{
      'error-input':
        currentIndex <= words.length - 1 &&
        userInput &&
        userInput !== words[currentIndex].slice(0, userInput.length)
    }"
    (keydown.space)="onSpaceKey($event)"
  />

  <p>{{ realTimeWpm || 0 }} wpm</p>
  <p *ngIf="endTime">total: {{ totalWpm }} wpm</p>
</div>
